# Python y entorno virtual
python3
python3-venv
python3-pip

# Control de versiones
git
curl

# Compiladores y utilidades básicas
build-essential

# Herramientas de diagnóstico de hardware
dmidecode
lshw
hwinfo
util-linux
psmisc
lsof

# Soporte GPU y CUDA
ubuntu-drivers-common
nvidia-driver-580-server
nvidia-utils-580-server
nvidia-cuda-toolkit
